.group-price {
  display: flex;
  flex-wrap: wrap;
  // justify-content:space-around ;
}
.form-horizontal {
  width: 100%;
}
.image-item {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.billing-btn {
  button {
    background-color: #f2f2f2;
    border: medium none;
    color: #000;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    padding: 16px 35px 17px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    &:hover {
      background: #a749ff;
      color: #fff;
    }
  }
}
