.modal-content-wrapper {
  height: 900px; /* Adjust the height as per your requirements */
  overflow-y: auto;
  background-color: #fff;
}
.modal-content {
  background-color: #fff;
  max-width: 900px; /* Adjust the width as per your requirements */
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
}
.edit-container{
  display: flex;
  
}
.edit-btn.hovered {
  background-color:#a749ff;
  color: #ffffff;
}
