.modal-content-wrapper {
  height: 900px; /* Adjust the height as per your requirements */
  overflow-y: auto;
  background-color: #fff;
}
.modal-content {
  background-color: #fff;
  max-width: 900px; /* Adjust the width as per your requirements */
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
}
.edit-container{
  display: flex;
  
}
.deleteButton{
  background-color:#a749ff;
  color: #ffffff;
}

.edit-btn.hovered {
  background-color:#a749ff;
  color: #ffffff;
}
.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: #000;
  border: medium none;
  cursor: pointer;
  padding: 10px 15px;
  
}

.close-icon:hover{
  background-color: #a749ff;
  color: #fff;
 

}
.modal-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}